#[Specific Runs]
#Last 24hours .....
#Daily Run ....
# /disk1/KVALOBS/Qc2Config .... $KVALOBS

# Performs simple linear interpolation for a single point replacement.
AlgoCode=4
# Currently this interpolation method only takes a nearest neighbour value (placeholder to support 4D variational minimisation).
InterpCode=9   # 9
RunAtHour=22 
RunAtMinute=24
Last_NDays=1

#[Specific Data Type and Paramters ids etc.]
ParamId=211
InterpolationDistance=50.0
# Only write back the result if not prviously controlled
W_fhqc=0

#Flag to set if value is corrected
S_ftime=7
#If there is already a 7 in place then we do not want to do it again or use an interpolated value ...
A_ftime=7   # TODO TODO TODO TODO TODO TODO

