/m4
/mk
Makefile.in
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/ylwrap
/autom4te.cache
/kvalobs*.*.*
.deps
.libs
*.lo
*.la
*.o
Makefile
bin/
build-arch-stamp
build-indep-stamp
config.h
config.log
config.status
debian/
doc/Makefile
kvconfig
libtool
src/data2kv/data2kv
src/kv2kro2/kv2kro
src/kv2metdat/kv2metdat
src/kvDataInputd/createTestData
src/kvDataInputd/kvDataInputd
src/kvDataInputd/kvdataclt
src/kvManagerd/kvManagerd
src/kvManagerd/kvmgrclt
src/kvQabased/kvQabased
src/kvQabased_old/kvQabased_old
src/kvServiced/kvServiced
src/kvServiced/test/getdata
src/kvServiced/test/getstationmetadata
src/kvServiced/test/getstationmetadatakvcpp
src/kvServiced/test/getworkstatistik
src/kvServiced/test/stressTestGetData
src/lib/decoder/synopdecoder/synopLexer.cc
src/lib/kvskel/KeyVal.hh
src/lib/kvskel/KeyValSK.cc
src/lib/kvskel/Makefile
src/lib/kvskel/admin.hh
src/lib/kvskel/adminSK.cc
src/lib/kvskel/commonStationInfo.hh
src/lib/kvskel/commonStationInfoSK.cc
src/lib/kvskel/datasource.hh
src/lib/kvskel/datasourceSK.cc
src/lib/kvskel/kvDataNotifySubscriber.hh
src/lib/kvskel/kvDataNotifySubscriberSK.cc
src/lib/kvskel/kvDataSubscriber.hh
src/lib/kvskel/kvDataSubscriberSK.cc
src/lib/kvskel/kvHintSubscriber.hh
src/lib/kvskel/kvHintSubscriberSK.cc
src/lib/kvskel/kvService.hh
src/lib/kvskel/kvServiceCommon.hh
src/lib/kvskel/kvServiceCommonSK.cc
src/lib/kvskel/kvServiceSK.cc
src/lib/kvskel/managerInput.hh
src/lib/kvskel/managerInputSK.cc
src/lib/kvskel/newfile.hh
src/lib/kvskel/newfileSK.cc
src/lib/kvskel/qabase.hh
src/lib/kvskel/qabaseSK.cc
src/lib/miconfparser/ConfParserLexer.cc
src/model2kv/model2kv
src/model2kv/model2kv-suLex.c
src/model2kv/model2kv-suParse.c
src/script/dbadmin/kvdbadmin
src/script/kv/kvrestart
src/script/kv/kvstart
src/script/kv/kvstatus
src/script/kv/kvstop
src/script/kv/tool_funcs.sh
src/service-libs/kvcpp/libkvcpp2.pc
src/tools/kvpush/kvpush
stamp-h1
/src/tools/kv2kvDataInputd/kv2kvDataInputd
/src/lib/gtest
/src/lib/decoder/comobsdecoder/test/testsms2
/src/service-libs/kvcpp/libkvcpp.pc
/INSTALL
