#dbconnect=jdbc:oracle:thin:@euros:1521:dvh
#dbdriver=oracle.jdbc.driver.OracleDriver
#dbuser=kvalobs
#dbpasswd=obs2005

dbconnect=jdbc:postgresql://localhost:5432/dvh
dbdriver=org.postgresql.Driver
dbuser=kvalobs
dbpasswd=obs2005

