Source: kvalobs
Section: science
Priority: extra
Maintainer: Borge Moe <borge.moe@met.no>
Build-Depends: debhelper (>= 9), autotools-dev, debconf,
 devscripts, fakeroot,
 automake, libtool, gfortran (>= 4.4.0), bison (>= 2.3) | bison-1.35, flex (>= 2.5.33),
 sqlite3 (>= 3.6.22), libsqlite3-dev (>= 3.6.22), libpq-dev (>= 8.3),
 libxml2-dev (>= 2.6.27), libxml++2.6-dev (>= 2.14.0),
 libboost-dev (>= 1.40.0), libboost-thread-dev (>= 1.40.0),
 libboost-regex-dev (>= 1.40.0), libboost-filesystem-dev (>= 1.40.0),
 libboost-program-options-dev (>= 1.40.0), libboost-system-dev (>= 1.40.0),
 libomniorb4-dev (>= 4.0.6), omniidl4 (>= 4.0.6) | omniidl (>= 4.1.6),
 libperl-dev (>= 5.8), libdbd-pg-perl (>= 1.49), libcurl4-gnutls-dev | libcurl-dev,
 liblog4cpp5-dev, libcppunit-dev (>= 1.12),
 metlibs-putools-dev, cmake, google-mock,
 libmicrohttpd-dev, libgnutls-dev | libgnutls28-dev, 
 zlib1g-dev, libssl-dev, libsasl2-dev, libzstd-dev
Standards-Version: 3.9.2

Package: libkvalobs8
Section: libs
Architecture: any
Depends:  ${shlibs:Depends}, ${misc:Depends}
Description: Client library for kvalobs
 May be used to write applications connecting to kvalobs

Package: libkvalobs-dev
Section: libdevel
Architecture: any
Depends: libkvalobs8 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends} 
Description: Client library for kvalobs
 May be used to write applications connecting to kvalobs

Package: libkvcpp8
Section: libs
Architecture: any
Depends:  libkvalobs8 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Runtime library for kvalobs clients
 Kvalobs is a quality control system for meteorological observations.

Package: libkvcpp-dev
Section: libdevel
Architecture: any
Depends: libkvcpp8 (= ${binary:Version}), 
 libkvalobs-dev (= ${binary:Version}),
 libxml++2.6-dev (>= 2.14.0),
 libboost-dev (>= 1.40.0), libboost-thread-dev (>= 1.40.0),
 libboost-regex-dev (>= 1.40.0), libboost-filesystem-dev (>= 1.40.0),
 libboost-program-options-dev (>= 1.40.0), libboost-system-dev (>= 1.40.0),
 libomniorb4-dev (>= 4.0.6), libperl-dev (>= 5.8),
 metlibs-putools-dev,
 ${misc:Depends}
Description: Client development file for kvalobs
 Kvalobs is a quality control system for meteorological observations.

Package: kvalobs
Architecture: any
Depends: kvalobsuser, adduser, debconf, sqlite3,
 python,
 libkvalobs8 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: postgresql-client
Description: quality control system for meteorological observations
 Kvalobs is a quality control system for meteorological observations.

Package: kvalobsuser
Architecture: all
Depends: adduser, debconf, ${misc:Depends}
Suggests: kvalobs
Description: Install kvalobs user
 Create a user for the kvalobs package. All kvalobs programs are supposed to be
 run by this user.

Package: kvalobs-database-files
Architecture: all
Depends: ${misc:Depends}
Suggests: kvalobs
Description: Install sql files for creating kvalobs database
 This will install the sql files for installing a kvalobs database.

Package: kvsubscribe
Architecture: any
Depends: libkvalobs8 (= ${binary:Version})
Description: List data from kvalobs in real time 

#Package: kvkafkalistener
#Architecture: any
#Depends: libkvalobs8 (= ${binary:Version})
#Description: Very simple monitoring daemon for kvalobs
# Will periodically write and update kvalobs status information to 
# /var/log/kvalobs/kvkafkalistener.log 

Package: kvalobs-init
Architecture: any
Depends: kvalobsuser, kvalobs, incron, ${misc:Depends}
Description: Install kvalobs init scripts.
 Install the init script to start/stop kvalobs on boot and shutdown.

#Package: kvdataclt
#Architecture: any
#Depends:  ${shlibs:Depends}, ${misc:Depends}
#Description: Client program to send data to a kvalobs server
# A client program to send data to a kvalobs server. The data to
# send is in files with the "kvalobs format kldata".

Package: kv2kvdatainputd
Architecture: any
Depends:  ${shlibs:Depends}, ${misc:Depends},
 libkvalobs8 (>= ${binary:Version})
Description: receive data from another kvalobs server
 kv2kvDataInputd listens for data updates from one kvalobs
 instance, strips them so that only the original data are transferred,
 and sends them to another kvalobs instance using the 'kldata'
 decoder format.
 