#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

#The date when we made a copy of mi-src.
MI_SRC_DATE=20100312

# This has to be exported to make some magic below work.
export DH_OPTIONS

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
export PKG_CONFIG_PATH=/usr/lib/pkgconfig

CFLAGS = -Wall -g
CXXFLAGS=$(CFLAGS)
CXX=g++-4.1
CC=gcc-4.1

#ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
#	CFLAGS += -O0
#else
#	CFLAGS += -O2
#endif

config.status: configure
	dh_testdir
	
	# Add here commands to configure the package.	
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif



	./configure --prefix=/usr  --enable-model2kv \
	    --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info  \
	    --localstatedir=/var --sysconfdir=/etc \
	    CFLAGS="$(CFLAGS)" CXXFLAGS="$(CXXFLAGS)" 

#	./configure --prefix=/usr   --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info  --localstatedir=/var --sysconfdir=/etc CFLAGS="$(CFLAGS)" CXXFLAGS="$(CXXFLAGS)"


#	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr  --enable-model2kv --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info  --localstatedir=/var --sysconfdir=/etc CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,-z,defs"
#	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr   --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info --localstatedir=/var --sysconfdir=/etc CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,-z,defs"
#	#Unpack mi-src, containing posdat and metdat that is used to upload modeldata to kvalobs 
#	(cd debian; tar zxpf mi-src.20100312.tar.gz)

#Architecture 
build: build-arch build-indep

build-arch: build-arch-stamp
build-arch-stamp:  config.status

	# Add here commands to compile the arch part of the package.
	#$(MAKE) 
	touch $@

build-indep: build-indep-stamp
build-indep-stamp:  config.status

	# Add here commands to compile the indep part of the package.
	#$(MAKE) doc
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp #CONFIGURE-STAMP#

	# Add here commands to clean up after the build process.
	[ ! -f Makefile ] || $(MAKE) distclean
	( if test -d debian/mi-src-$(MI_SRC_DATE) ; then cd debian/mi-src-$(MI_SRC_DATE); $(MAKE) OSTYPE=linux clean; rm -rf ../mi-src/; fi)

	dh_clean 

install: install-indep install-arch
install-indep:
	dh_testdir
	dh_testroot
	dh_clean -k -i 
	dh_installdirs -i

	# Add here commands to install the indep part of the package into
	# debian/<package>-doc.
	#INSTALLDOC#

	dh_install -i

%.sh: %.sql
	sed s:__UPGRADE_FILE__:$<: db/upgrade_skeleton.sh > $@ 


install-arch:
	dh_testdir
	dh_testroot
	dh_clean -k -s 
	dh_installdirs -s

	# Add here commands to install the arch part of the package into 
	# debian/tmp.
	$(MAKE) DESTDIR=$(CURDIR)/debian/tmp install
	mkdir -p $(CURDIR)/debian/tmp/etc/kvalobs
	mkdir -p $(CURDIR)/debian/tmp/etc/pgrepctl
	mkdir -p $(CURDIR)/debian/tmp/etc/kvalobs/lam2kv
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/kvalobs/bin
	mkdir -p $(CURDIR)/debian/tmp/etc/init
	mkdir -p $(CURDIR)/debian/tmp/etc/init.d
	cp $(CURDIR)/debian/pgclean-local.sql $(CURDIR)/debian/tmp/etc/kvalobs
	cp $(CURDIR)/debian/save_last_month.conf $(CURDIR)/debian/tmp/etc/kvalobs
	cp $(CURDIR)/debian/kv_ctl.conf $(CURDIR)/debian/tmp/etc/kvalobs
#	cp $(CURDIR)/debian/runbg $(CURDIR)/debian/tmp/usr/lib/kvalobs/bin
	cp $(CURDIR)/debian/lam2kv/etc/* $(CURDIR)/debian/tmp/etc/kvalobs/lam2kv
	cp $(CURDIR)/debian/kv-env.conf $(CURDIR)/debian/tmp/etc/kvalobs
	cp $(CURDIR)/debian/kv-ipalias.conf $(CURDIR)/debian/tmp/etc/kvalobs
	cp $(CURDIR)/debian/lam2kv/bin/hirlam2kvalobs.sh $(CURDIR)/debian/tmp/usr/lib/kvalobs/bin
	cp $(CURDIR)/debian/lam2kv/bin/lam2kv.cron $(CURDIR)/debian/tmp/usr/lib/kvalobs/bin
	cp $(CURDIR)/debian/kvcron $(CURDIR)/debian/tmp/etc/kvalobs
	cp $(CURDIR)/debian/kvincron $(CURDIR)/debian/tmp/etc/kvalobs
	cp $(CURDIR)/debian/scripts/*.sh $(CURDIR)/debian/tmp/usr/lib/kvalobs/bin
	cp $(CURDIR)/debian/init/kvalobs $(CURDIR)/debian/tmp/etc/init.d
	cp $(CURDIR)/debian/init/kvalobs-st*.conf $(CURDIR)/debian/tmp/etc/init
	cp $(CURDIR)/debian/init/*.sh $(CURDIR)/debian/tmp/usr/lib/kvalobs/bin
	cp $(CURDIR)/debian/init/kvalobs-init.conf $(CURDIR)/debian/tmp/etc/kvalobs
	cp $(CURDIR)/debian/pgrepctl/kvalobs.conf.template $(CURDIR)/debian/tmp/etc/pgrepctl
	cp $(CURDIR)/etc/kv2norcom.conf.template $(CURDIR)/debian/tmp/etc/kvalobs
#   cp $(CURDIR)/debian/kvstart-postgres $(CURDIR)/debian/tmp/usr/bin
#   cp $(CURDIR)/debian/kvstop-postgres $(CURDIR)/debian/tmp/usr/bin

	#Make and install misrc, posdat and metdat.
	(cd debian/mi-src-$(MI_SRC_DATE); $(MAKE) OSTYPE=linux; $(MAKE) OSTYPE=linux install)

	dh_install -s --sourcedir=debian/tmp

# Must not depend on anything. This is to be called by
# binary-arch/binary-indep
# in another 'make' thread.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
#	dh_installexamples
#	dh_installmenu
	dh_installdebconf	
#	dh_installlogrotate	
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
	dh_installinit --noscripts
#	dh_installcron
#	dh_installinfo
#	dh_installman
	dh_link
#	dh_strip
	dh_compress 
	dh_fixperms
#	dh_perl
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps  -S $(CURDIR)/debian/tmp/usr/lib
	dh_gencontrol
	dh_md5sums
	dh_builddeb
# Build architecture independant packages using the common target.
binary-indep: build-indep install-indep
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

# Build architecture dependant packages using the common target.
binary-arch: build-arch install-arch
	$(MAKE) -f debian/rules DH_OPTIONS=-s binary-common

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch 
