#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEBTMP=$(CURDIR)/debian/tmp
DEBETC=$(DEBTMP)/etc

%.sh: %.sql
	sed s:__UPGRADE_FILE__:$<: db/upgrade_skeleton.sh > $@ 

%:
	dh $@

override_dh_auto_configure: pre-build configure-stamp
	@true

configure-stamp:
#	autoreconf -i
	CXXFLAGS=-g ./configure --prefix=/usr  \
	    --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info  \
	    --localstatedir=/var --sysconfdir=/etc \
	    --with-boost-libdir=/usr/lib/x86_64-linux-gnu
	touch $@

pre-build :: version-deb-autotools
	@true

# check that the version specified in configure.ac is the same as the
# most recent version in debian/changelog
version-deb-autotools:
	@AC_VERSION=$$(grep ^AC_INIT configure.ac | sed -e 's/^AC_INIT(\[[a-zA-Z0-9_.~]\+\], *\[//' -e 's/\], *\[[a-z@.-]\+\])//'); \
	DEBIAN_PACKAGE=$$(head -n 1 debian/changelog | sed -e 's/^\([a-z_0-9-]\+\) (/\1/'); \
	DEBIAN_VERSION=$$(head -n 1 debian/changelog | sed -e 's/^[a-z_0-9-]\+ (\([0-9]\+\.[a-zA-Z0-9_.~]\+\)-[^-)]\+).*$$/\1/'); \
	if [ "x$$DEBIAN_VERSION" != "x$$AC_VERSION" ]; then \
	    echo "Error: debian version '$$DEBIAN_VERSION' != version '$$AC_VERSION' from configure.ac"; \
	    if [ "x$$KVALOBS_BUILD_VERSION_CHECK" != "xNO" ]; then exit 1; fi \
	fi;

override_dh_auto_clean:
	dh_auto_clean

override_dh_auto_build:
	dh_auto_build

override_dh_auto_test:
	@true

override_dh_auto_install:
	dh_auto_install

	find $(DEBTMP) -name "lib*.la" | xargs sed -i "/dependency_libs/ s/'.*'/''/"

	cd $(DEBTMP) && mkdir -p etc/pgrepctl etc/kvalobs/lam2kv usr/lib/kvalobs/bin etc/init etc/init.d
	cd $(CURDIR)/debian && \
	    mv lam2kv/etc $(DEBETC)/kvalobs/lam2kv && \
	    mv pgclean-local.sql.template save_last_month.conf kv_ctl.conf kv-env.conf kv-ips.conf.template kvcron kvincron  $(DEBETC)/kvalobs && \
	    mv lam2kv/bin/hirlam2kvalobs.sh lam2kv/bin/lam2kv.cron scripts/*.sh init/*.sh $(DEBTMP)/usr/lib/kvalobs/bin && \
	    chmod a+x $(DEBTMP)/usr/lib/kvalobs/bin/* && \
	    mv init/kvalobs $(DEBETC)/init.d && \
	    mv init/kvalobs-st*.conf $(DEBETC)/init && \
	    mv init/kvalobs-init.conf $(DEBETC)/kvalobs && \
	    mv pgrepctl/kvalobs.conf.template $(DEBETC)/pgrepctl
	cp $(CURDIR)/etc/kv2norcom.conf.template $(DEBETC)/kvalobs
	cp $(CURDIR)/etc/stinfosys.conf $(DEBETC)/kvalobs
	cp $(CURDIR)/etc/stinfosys_params.csv.default $(DEBETC)/kvalobs
